/* default at margin 0 padding 0 roboto light font*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body,html{
  height: 100%;
  background-color: #121212;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

header{
 display: inline-block;
 width:100%;
 position: fixed;
 transition: 0.8s;
 z-index: 100;
}

header div{
  display:inline-block;
}

header div img{
  height: 42px;
  padding-top: 10px;
  padding-left: 10px;
}

header nav{
  display: inline-block;
  float: right;
  padding-top: 13px;
}

header nav a{
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  color: white;
  margin-right: 20px;
  padding: 10px;
  --webkit-transition : all 0.2s ease-in-out;
  --o-transition : all 0.2s ease-in-out;
  --moz-transition : all 0.2s ease-in-out;
  --ms-transition : all 0.2s ease-in-out;
  transition: all 0.4s ease-in-out;
}

header nav a.selected{
  border-bottom: 4px solid orange;
}

header nav a:hover{
  color : #fff;
  border-bottom : 8px solid rgba(20,0,0,0.5);
  border-radius : 6px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
}

article.kaliedo{
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: #121212;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a1633' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 100%, 0 0);
  z-index: 50;
  transition: 1.4s;
}

article.kaliedo img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

article.kaliedo a{
  position: absolute;
  top: calc(40% + 200px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #121212;
  background-color: orange;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
  font-size: 25px;
  font-weight: 900;
  transition: 0.4s;
}

article.firstcrank{
  width: 100%;
  height: 80%;
  background-color: #c4cccc;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  position: absolute;
  top: 20%;
  transition: 0.8s;
  border-bottom: 0.7em solid orange;
  z-index: 40;
}

article.firstcrank .image{
  background: url(res/firstcrank.jpg) no-repeat center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

article.firstcrank div.right-pane{
  padding: 30% 30px 30%;
}

article.firstcrank h1{
  font-weight:900;
  font-size: 3em ;
  margin-bottom:5px;
}

article.firstcrank h3{
  font-weight:900;
  font-size: 2em;
  margin-bottom: 8px;
}

article.firstcrank p{
  margin-bottom: 20px;
  font-size: 1.5em;
}

article.firstcrank a{
  font-weight:900;
  text-decoration: none;
  color: #121212;
  background-color: orange;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
  font-size: 1.4em;
  margin-top: 100px;
}

article.tccontainer{

}

article.three-col{
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='635' height='76.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='2.6' stroke-opacity='0.65'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 170%;
  height: 100%;
  width: 1280px;
  /* center align */
  padding: 15% calc(50% - 640px) 15% calc(50% - 640px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 5fr;
  grid-template-areas: "tchead tchead tchead"
                        "tctext tctext tctext";
  z-index: 10;
}

article.three-col h1{
  grid-area: tchead;
  text-align: center;
  color: orange;
  font-size: 3.2em;
}

article.three-col p.tcdesc{
  grid-area: tctext;
  text-align: center;
  color: #bbbbbb;
  font-size: 1.5em;
  margin: 0 20% 0 20%;
}

article.three-col .column{
  text-align: center;
  background-color: #171717;
  margin: 0 20px 0 20px;
  padding: 40px;
  border-bottom: 0.4em solid orange;
}

article.three-col .column img{
  height: 36px;
}

article.three-col .column h2{
  margin-top: 30px;
  font-size:1.8em;
  color: orange;
  height: 90px;
}

article.three-col .column p{
  text-align: left;
  font-size:1.18em;
  color:#b0b0b0;
  line-height: 1.3;
}

article.three-col .column p b{
  color: orange;
}

/* widescreen query */
@media screen and (max-width: 1360px) {
  article.firstcrank{
    grid-template-columns: 60% 40%;
  }
  article.firstcrank p{
    font-size: 1.2em;
  }

  article.three-col{
    position: absolute;
    top: 170%;
    height: 100%;
    width: 100%;
    /* center align */
    padding: 15% 0% 15% 0;
  }
}

/* tablet query */
@media screen and (max-width: 800px) {
  article.firstcrank{
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  article.firstcrank div.right-pane{
    padding: 30px;
  }
  article.firstcrank p{
    font-size: 1em;
  }
}

/* mobile query */
@media screen and (max-width: 480px) {

}
