/* default at margin 0 padding 0 roboto light font*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body,html{
  height: 100%;
  background-color: #121212;
}

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: orange;
}

/* header styling */
header{
 display: inline-block;
 width:100%;
 position: fixed;
 transition: 0.8s;
 z-index: 100;
}

header div{
  display:inline-block;
}

header div img{
  height: 42px;
  padding-top: 10px;
  padding-left: 10px;
}

header nav{
  display: inline-block;
  float: right;
  padding-top: 13px;
}

header nav a{
  text-decoration: none;
  font-size: 24px;
  font-weight: 900;
  color: white;
  margin-right: 20px;
  padding: 10px;
  transition: all 0.4s ease-in-out;
}

header nav a.selected{
  border-bottom: 4px solid orange;
}

header nav a:hover{
  color : #fff;
  border-bottom : 8px solid rgba(20,0,0,0.5);
  border-radius : 6px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
}

/* when dropdown navigation is shown */
.showNav{
  display: inline;
  background-color: #121212;
}

/* hamburger menu */

.container {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  line-height: 0.7;
  display: none;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  margin: 6px;
  background-color: orange;
  margin: 0 0;
  transition: 0.4s;
}

/* rotate three lines to form an X */

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* kaliedo bolt styling */

article.kaliedo{
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: #121212;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a1633' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 100%, 0 0);
  z-index: 50;
  transition: 1.4s;
}

/* centered image */

article.kaliedo img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}

/* centered link */

article.kaliedo a{
  position: absolute;
  top: calc(40% + 200px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: #121212;
  background-color: orange;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
  font-size: 25px;
  font-weight: 900;
  transition: 0.4s;
}

article.firstcrank{
  width: 100%;
  height: 80%;
  background-color: #c4cccc;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  position: absolute;
  top: 20%;
  transition: 0.8s;
  border-bottom: 0.7em solid orange;
  z-index: 40;
}

article.firstcrank .image{
  background: url(res/firstcrank.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

article.firstcrank div.right-pane{
  padding: 30% 30px 30%;
}

article.firstcrank h1{
  font-weight:900;
  font-size: 3em ;
  margin-bottom:5px;
}

article.firstcrank h3{
  font-weight:900;
  font-size: 2em;
  margin-bottom: 8px;
}

article.firstcrank p{
  margin-bottom: 20px;
  font-size: 1.5em;
}

article.firstcrank a{
  font-weight:900;
  text-decoration: none;
  color: #121212;
  background-color: orange;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
  font-size: 1.4em;
  margin-top: 100px;
}

/* three columns using css grid layout */

article.three-col{
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='635' height='76.2' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='2.6' stroke-opacity='0.65'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 170%;
  height: 100%;
  width: 1280px;
  /* center align */
  padding: 16vh calc(50% - 640px) 26vh calc(50% - 640px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 5fr;
  grid-template-areas: "tchead tchead tchead"
                        "tctext tctext tctext";
  z-index: 10;
}

article.three-col h1{
  grid-area: tchead;
  text-align: center;
  color: orange;
  font-size: 3.2em;
}

article.three-col p.tcdesc{
  grid-area: tctext;
  text-align: center;
  color: #bbbbbb;
  font-size: 1.5em;
  margin: 0 20% 0 20%;
}

article.three-col .column{
  text-align: center;
  background-color: #171717;
  margin: 0 20px 0 20px;
  padding: 40px;
  border-bottom: 0.4em solid orange;
}

article.three-col .column img{
  height: 36px;
}

article.three-col .column h2{
  margin-top: 30px;
  font-size:1.8em;
  color: orange;
  height: 90px;
}

article.three-col .column p{
  text-align: left;
  font-size:1.18em;
  color:#b0b0b0;
  line-height: 1.3;
}

article.three-col .column p b{
  color: orange;
}

main.appointment{
  text-align: center;
  padding-top: 90px;
}

main.appointment h1{
  font-size: 2.6em;
  color: orange;
  margin-bottom: 40px;
}

#regForm {
  margin: 100px auto;
  padding: 40px;
  width: 50%;
  min-width: 300px;
}

main.appointment button{
  background-color: orange;
  border: none;
  padding: 10px;
  font-size: 1.2em;
}

footer{
  position: fixed;
  bottom: calc(-10% - 5px);
  left: 0;
  width: 100%;
  z-index: 100;
  height: 10%;
  border-top: 5px solid orange;
  background-color: #090909;
  transition: 0.8s;
  text-align: center;
  color: #999999;
}

footer p{
  padding: 10px;
}

footer a{
  text-decoration: none;
  color: skyblue;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  background-color: #171717;
  border: 1px solid #191919;
  color: #dddddd;
  margin-bottom: 10px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #301212;
}

/* form styling */

/* Hide all steps by default: */
.tab {
  display: none;
  text-align: left;
  color: #dddddd;
}

.tab p select{
  background: #202020;
  width: 100%;
  border: none;
  font-size:1.7em;
  color:#bbb;
  padding: 10px 20px;
  margin-bottom: 10px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: orange;
}

main.faq-main{
  padding-top:50px;
  text-align:center;
}

.faq{
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 40px;
}

.faq-main h1{
  color: orange;
  font-size: 3em;
  margin: 50px;
}

.faq-question{
  color: #121212;
  padding: 10px 0 10px 0;
  display: inline-block;
  cursor: pointer;
  font-weight: 900;
  font-size: 1.4em;
  background-color: white;
  width: 100%;
}

.faq_answer_container {
    text-align: left;
    display: none;
    padding: 20px;
    background-color: orange;
    color: #000;
    font-size: 1.5em;
}

.customiser-main{
  width:100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%233a1633' fill-opacity='1'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
}

/* smaller screen query */
@media screen and (max-width: 1280px) {
  article.firstcrank{
    grid-template-columns: 60% 40%;
  }
  article.firstcrank p{
    font-size: 1.2em;
  }

  article.three-col{
    position: absolute;
    top: 170%;
    height: 100%;
    width: 100%;
    /* center align */
    padding: 15% 0% 15% 0;
  }

  #regForm {
    width: 70%;
  }
}

/* tablet query */
@media screen and (max-width: 800px) {

  header{
    display: inline;
  }

  header nav{
    display: none;
    float: right;
    width: 200px;
    text-align: center;
    padding-top: 30px;
    margin-right: calc(50% - 100px);
  }

  header nav a{
    width: 100%;
    line-height: 3;
    text-align: right;
    margin: 0;
  }

  header .container{
    display: inline-block;
    float: right;
    width: 35px;
    position: fixed;
    right: 0;
  }

  article.firstcrank{
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  article.firstcrank .image{
    height: 100%;
  }

  article.firstcrank div.right-pane{
    padding: 30px;
  }

  article.firstcrank h1{
    font-size: 4em;
  }

  article.firstcrank p{
    font-size: 1.6em;
  }
  article.three-col{
    display: inline;
    height: 160%;
  }

  article.three-col .column{
    margin-bottom: 40px;
  }

  article.firstcrank{
    height: 120%;
  }

  article.three-col {
    top: 220%;
  }

  article.three-col h1{
    font-size: 4em;
    margin-bottom: 40px;
  }

  article.three-col p.tcdesc{
    font-size: 1.6em;
    margin: 0 10% 40px 10%;
  }
}

/* mobile query */
@media screen and (max-width: 480px) {

  article.kaliedo img{
    width: 80%;
  }

  article.kaliedo a{
    font-size: 1em;
  }

  article.three-col{
    display: inline;
    height: 300%;
  }

  article.three-col .column{
    margin-bottom: 40px;
  }

  article.firstcrank{
    height: 120%;
  }

  article.firstcrank h1{
    font-size: 2em;
  }

  article.firstcrank p{
    font-size: 1em;
  }

  article.three-col {
    top: 220%;
  }

  article.three-col h1{
    font-size: 2em;
    margin-bottom: 40px;
  }

  article.three-col p.tcdesc{
    font-size: 1em;
    margin: 0 10% 40px 10%;
  }
}
